:root {
    --theme-color-1: #ebf4fa;
    --theme-color-2: #dbe4e9;
    --theme-font-style: 'Dancing Script', cursive;
}

body {
    margin: 0;
    font-size: 1.5rem;
    height: 100vh;
    font-family: var(--theme-font-style)
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

header > div,
footer > div {
    padding: 1rem 0;
}

.home {
    flex: 1 1 0;
    background-color: var(--theme-color-1);
}

.search {
    flex: 2 2 0;
    border: 0;
    border-radius: 4px;
    font-family: var(--theme-font-style);
    font-size: 1.4rem;
    text-align: center;
    background-color: var(--theme-color-2);
}

.contact-me {
    flex: 1 1 0;
    background-color: var(--theme-color-1);
}

main {
    display: flex;
    padding: 3rem;
    gap: 3rem;
    background-image: url('resources/abs2.jfif');
    background-size: cover;
}

.magic {
    font-family: var(--theme-font-style);
    font-size: 1.2rem;
    flex: 1 1 0;
    cursor: pointer;
    border: 0;
    border-radius: 1.2rem;
    background-color: var(--theme-color-2);
}

.magic:hover {
    background-color: red;
}

.magic:active {
    background-color: green;
}

footer {
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

.github {
    flex: 1 1 0;
    background-color: var(--theme-color-1);
}

.linkedin {
    flex: 1 1 0;
    background-color: var(--theme-color-1);
}

.stackoverflow {
    flex: 1 1 0;
    background-color: var(--theme-color-1);
}